@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.container {
  border: 4px solid #00ffff;
  padding: 20px;
  max-width: 600px;
  margin: 40px auto;
  background-color: black;
  text-align: center;
  font-family: 'Press Start 2P', monospace;
  color: #00ffff;
}

.title {
  font-size: 20px;
  margin-bottom: 10px;
  text-shadow: 0 0 5px orange, 0 0 6px red;
}

.subtitle {
  font-size: 14px;
  color: #00ff00;
  margin-bottom: 20px;
}

.gameScreen {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: black;
  border: 2px solid #00ffff;
  margin-bottom: 15px;
  overflow: hidden;
}

.fallingWord {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ccff00;
  font-size: 14px;
}

.input {
  padding: 10px;
  background-color: #001f1f;
  border: 2px solid #00ffff;
  color: #00ff00;
  font-size: 14px;
  width: 100%;
  margin-bottom: 10px;
}
.btncont{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.button {
  padding: 10px 20px;
  background-color: #00ffff;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  gap: 5px;
}

.button:hover {
  background-color: #00cccc;
}

.score {
  color: #ccff00;
  font-size: 12px;
}
